/* Play-Button */
.play {
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0% 100%
  );
}

.play.clicked {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

/* Category Carousel */

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin-top: 100px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 250px;
  height: 90px;
  text-align: center;
  color: #fff;
  opacity: 0.95;
  border-radius: 10px;
}

.category {
  background: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.category:hover {
  background: #313131;
}

.a {
  transform: rotateY(0deg) translateZ(300px);
}
.b {
  transform: rotateY(45deg) translateZ(300px);
}
.c {
  transform: rotateY(90deg) translateZ(300px);
}
.d {
  transform: rotateY(135deg) translateZ(300px);
}
.e {
  transform: rotateY(180deg) translateZ(300px);
}
.f {
  transform: rotateY(225deg) translateZ(300px);
}
.g {
  transform: rotateY(270deg) translateZ(300px);
}

.h {
  transform: rotateY(315deg) translateZ(300px);
}

.next,
.prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #ccc;
  border-radius: 5px;
  border-top: 1px solid #fff;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}

/* Neon Sign */
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
  text-align: center;
  text-shadow: 1px 0px 2px #d6ffd5, 2px 0px 0px #d6ffd5, 3px 0px 1px #d6ffd5,
    2px 0px 3px #45d42c, 2px 3px 25px #45d42c;
}

/* Flickering animation */
@keyframes flicker {
  0% {
    opacity: 100%;
  }

  10% {
    opacity: 100%;
  }
  11% {
    opacity: 0%;
  }
  12% {
    opacity: 100%;
  }
  13% {
    opacity: 0%;
  }
  14% {
    opacity: 100%;
  }

  30% {
    opacity: 100%;
  }
  31% {
    opacity: 0%;
  }
  32% {
    opacity: 100%;
  }

  50% {
    opacity: 100%;
  }
  51% {
    opacity: 0%;
  }
  52% {
    opacity: 100%;
  }

  70% {
    opacity: 100%;
  }
  71% {
    opacity: 0%;
  }
  73% {
    opacity: 0%;
  }
  74% {
    opacity: 100%;
  }

  90% {
    opacity: 100%;
  }
  91% {
    opacity: 0%;
  }
  92% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

.container {
  margin-top: 20vh;
}
